## 3.3.1 时间序列

- index横坐标为日期数据
- 数据导入：pandas datareader

## 3.3.2 Resample函数

- 计数、均值、方差、累加、累乘
- 周期转换
- 数据验证：for循环 vs 内置函数

In [1]:
import pandas as pd
import pandas_datareader as pdr

In [3]:
data = pdr.get_data_fred('GS10')
data

            GS10
DATE
2016-08-01  1.56
2016-09-01  1.63
2016-10-01  1.76
2016-11-01  2.14
2016-12-01  2.49
2017-01-01  2.43
2017-02-01  2.42
2017-03-01  2.48
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50
2020-03-01  0.87
2020-04-01  0.66
2020-05-01  0.67
2020-06-01  0.73
2020-07-01  0.62
2020-08-01  0.65
2020-09-01  0.68
2020-10-01  0.79
2020-11-01  0.87
2020-12-01  0.93
2021-01-01  1.08
2021-02-01  1.26
2021-03-01  1.61
2021-04-01  1.64
2021-05-01  1.62
2021-06-01  1.52

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
# 计算：均值、方差、最大值、最小值、计数等常见的描述性指标
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
data.resample?

In [9]:
data.resample(rule='Y').mean()

                GS10
DATE
2016-12-31  1.916000
2017-12-31  2.330000
2018-12-31  2.910000
2019-12-31  2.144167
2020-12-31  0.894167
2021-12-31  1.455000

In [10]:
count = data.resample(rule='Y').count()
count

            GS10
DATE
2016-12-31     5
2017-12-31    12
2018-12-31    12
2019-12-31    12
2020-12-31    12
2021-12-31     6

In [12]:
sum1 = data.resample(rule='Y').sum()
sum1

             GS10
DATE
2016-12-31   9.58
2017-12-31  27.96
2018-12-31  34.92
2019-12-31  25.73
2020-12-31  10.73
2021-12-31   8.73

In [13]:
sum1 / count

                GS10
DATE
2016-12-31  1.916000
2017-12-31  2.330000
2018-12-31  2.910000
2019-12-31  2.144167
2020-12-31  0.894167
2021-12-31  1.455000

In [14]:
 data.resample(rule='Y').std() # 数据样本内部的差异性

                GS10
DATE
2016-12-31  0.391318
2017-12-31  0.095155
2018-12-31  0.147648
2019-12-31  0.410996
2020-12-31  0.362152
2021-12-31  0.231668

In [15]:
data.resample(rule='Y').std().max()

GS10    0.410996
dtype: float64

In [16]:
data.resample(rule='Y').prod()

                     GS10
DATE
2016-12-31      23.847233
2017-12-31   25366.885793
2018-12-31  363465.967338
2019-12-31    7709.579518
2020-12-31       0.129870
2021-12-31       8.847542

In [17]:
# 加载新数据
data2 = pdr.get_data_fred('GS5')
data2

             GS5
DATE
2016-08-01  1.13
2016-09-01  1.18
2016-10-01  1.27
2016-11-01  1.60
2016-12-01  1.96
2017-01-01  1.92
2017-02-01  1.90
2017-03-01  2.01
2017-04-01  1.82
2017-05-01  1.84
2017-06-01  1.77
2017-07-01  1.87
2017-08-01  1.78
2017-09-01  1.80
2017-10-01  1.98
2017-11-01  2.05
2017-12-01  2.18
2018-01-01  2.38
2018-02-01  2.60
2018-03-01  2.63
2018-04-01  2.70
2018-05-01  2.82
2018-06-01  2.78
2018-07-01  2.78
2018-08-01  2.77
2018-09-01  2.89
2018-10-01  3.00
2018-11-01  2.95
2018-12-01  2.68
2019-01-01  2.54
2019-02-01  2.49
2019-03-01  2.37
2019-04-01  2.33
2019-05-01  2.19
2019-06-01  1.83
2019-07-01  1.83
2019-08-01  1.49
2019-09-01  1.57
2019-10-01  1.53
2019-11-01  1.64
2019-12-01  1.68
2020-01-01  1.56
2020-02-01  1.32
2020-03-01  0.59
2020-04-01  0.39
2020-05-01  0.34
2020-06-01  0.34
2020-07-01  0.28
2020-08-01  0.27
2020-09-01  0.27
2020-10-01  0.34
2020-11-01  0.39
2020-12-01  0.39
2021-01-01  0.45
2021-02-01  0.54
2021-03-01  0.82
2021-04-01  0.86
2021-05-01  0.82
2021-06-01  0.84

In [18]:
data['GS5'] = data2 # 值和index的精确匹配
data

            GS10   GS5
DATE
2016-08-01  1.56  1.13
2016-09-01  1.63  1.18
2016-10-01  1.76  1.27
2016-11-01  2.14  1.60
2016-12-01  2.49  1.96
2017-01-01  2.43  1.92
2017-02-01  2.42  1.90
2017-03-01  2.48  2.01
2017-04-01  2.30  1.82
2017-05-01  2.30  1.84
2017-06-01  2.19  1.77
2017-07-01  2.32  1.87
2017-08-01  2.21  1.78
2017-09-01  2.20  1.80
2017-10-01  2.36  1.98
2017-11-01  2.35  2.05
2017-12-01  2.40  2.18
2018-01-01  2.58  2.38
2018-02-01  2.86  2.60
2018-03-01  2.84  2.63
2018-04-01  2.87  2.70
2018-05-01  2.98  2.82
2018-06-01  2.91  2.78
2018-07-01  2.89  2.78
2018-08-01  2.89  2.77
2018-09-01  3.00  2.89
2018-10-01  3.15  3.00
2018-11-01  3.12  2.95
2018-12-01  2.83  2.68
2019-01-01  2.71  2.54
2019-02-01  2.68  2.49
2019-03-01  2.57  2.37
2019-04-01  2.53  2.33
2019-05-01  2.40  2.19
2019-06-01  2.07  1.83
2019-07-01  2.06  1.83
2019-08-01  1.63  1.49
2019-09-01  1.70  1.57
2019-10-01  1.71  1.53
2019-11-01  1.81  1.64
2019-12-01  1.86  1.68
2020-01-01  1.76  1.56
2020-02-01  1.50  1.32
2020-03-01  0.87  0.59
2020-04-01  0.66  0.39
2020-05-01  0.67  0.34
2020-06-01  0.73  0.34
2020-07-01  0.62  0.28
2020-08-01  0.65  0.27
2020-09-01  0.68  0.27
2020-10-01  0.79  0.34
2020-11-01  0.87  0.39
2020-12-01  0.93  0.39
2021-01-01  1.08  0.45
2021-02-01  1.26  0.54
2021-03-01  1.61  0.82
2021-04-01  1.64  0.86
2021-05-01  1.62  0.82
2021-06-01  1.52  0.84

In [19]:
data['mean'] = (data['GS10'] + data['GS5']) / 2

In [20]:
data

            GS10   GS5   mean
DATE
2016-08-01  1.56  1.13  1.345
2016-09-01  1.63  1.18  1.405
2016-10-01  1.76  1.27  1.515
2016-11-01  2.14  1.60  1.870
2016-12-01  2.49  1.96  2.225
2017-01-01  2.43  1.92  2.175
2017-02-01  2.42  1.90  2.160
2017-03-01  2.48  2.01  2.245
2017-04-01  2.30  1.82  2.060
2017-05-01  2.30  1.84  2.070
2017-06-01  2.19  1.77  1.980
2017-07-01  2.32  1.87  2.095
2017-08-01  2.21  1.78  1.995
2017-09-01  2.20  1.80  2.000
2017-10-01  2.36  1.98  2.170
2017-11-01  2.35  2.05  2.200
2017-12-01  2.40  2.18  2.290
2018-01-01  2.58  2.38  2.480
2018-02-01  2.86  2.60  2.730
2018-03-01  2.84  2.63  2.735
2018-04-01  2.87  2.70  2.785
2018-05-01  2.98  2.82  2.900
2018-06-01  2.91  2.78  2.845
2018-07-01  2.89  2.78  2.835
2018-08-01  2.89  2.77  2.830
2018-09-01  3.00  2.89  2.945
2018-10-01  3.15  3.00  3.075
2018-11-01  3.12  2.95  3.035
2018-12-01  2.83  2.68  2.755
2019-01-01  2.71  2.54  2.625
2019-02-01  2.68  2.49  2.585
2019-03-01  2.57  2.37  2.470
2019-04-01  2.53  2.33  2.430
2019-05-01  2.40  2.19  2.295
2019-06-01  2.07  1.83  1.950
2019-07-01  2.06  1.83  1.945
2019-08-01  1.63  1.49  1.560
2019-09-01  1.70  1.57  1.635
2019-10-01  1.71  1.53  1.620
2019-11-01  1.81  1.64  1.725
2019-12-01  1.86  1.68  1.770
2020-01-01  1.76  1.56  1.660
2020-02-01  1.50  1.32  1.410
2020-03-01  0.87  0.59  0.730
2020-04-01  0.66  0.39  0.525
2020-05-01  0.67  0.34  0.505
2020-06-01  0.73  0.34  0.535
2020-07-01  0.62  0.28  0.450
2020-08-01  0.65  0.27  0.460
2020-09-01  0.68  0.27  0.475
2020-10-01  0.79  0.34  0.565
2020-11-01  0.87  0.39  0.630
2020-12-01  0.93  0.39  0.660
2021-01-01  1.08  0.45  0.765
2021-02-01  1.26  0.54  0.900
2021-03-01  1.61  0.82  1.215
2021-04-01  1.64  0.86  1.250
2021-05-01  1.62  0.82  1.220
2021-06-01  1.52  0.84  1.180

In [21]:
# 周期转换
data.resample(rule='Y')

In [22]:
data.resample(rule='Y').last() # 查看每年最后1个月的数据

            GS10   GS5   mean
DATE
2016-12-31  2.49  1.96  2.225
2017-12-31  2.40  2.18  2.290
2018-12-31  2.83  2.68  2.755
2019-12-31  1.86  1.68  1.770
2020-12-31  0.93  0.39  0.660
2021-12-31  1.52  0.84  1.180