## 3.3.1 时间序列

- index横坐标为日期数据
- 数据导入：pandas datareader

## 3.3.2 Resample函数

- 计数、均值、方差、累加、累乘
- 周期转换
- 数据验证：for循环 vs 内置函数

In [20]:
import pandas as pd
import pandas_datareader as pdr

In [21]:
data = pdr.get_data_fred('GS10')
data

            GS10
DATE
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50
2020-03-01  0.87
2020-04-01  0.66
2020-05-01  0.67
2020-06-01  0.73
2020-07-01  0.62
2020-08-01  0.65
2020-09-01  0.68
2020-10-01  0.79
2020-11-01  0.87
2020-12-01  0.93
2021-01-01  1.08
2021-02-01  1.26
2021-03-01  1.61
2021-04-01  1.64
2021-05-01  1.62
2021-06-01  1.52
2021-07-01  1.32
2021-08-01  1.28
2021-09-01  1.37
2021-10-01  1.58
2021-11-01  1.56
2021-12-01  1.47
2022-01-01  1.76
2022-02-01  1.93
2022-03-01  2.13
2022-04-01  2.75
2022-05-01  2.90
2022-06-01  3.14
2022-07-01  2.90
2022-08-01  2.90
2022-09-01  3.52
2022-10-01  3.98
2022-11-01  3.89
2022-12-01  3.62
2023-01-01  3.53
2023-02-01  3.75
2023-03-01  3.66
2023-04-01  3.46
2023-05-01  3.57
2023-06-01  3.75
2023-07-01  3.90
2023-08-01  4.17
2023-09-01  4.38
2023-10-01  4.80
2023-11-01  4.50
2023-12-01  4.02
2024-01-01  4.06
2024-02-01  4.21
2024-03-01  4.21
2024-04-01  4.54

In [22]:
type(data)

pandas.core.frame.DataFrame

In [23]:
# 计算：均值、方差、最大值、最小值、计数等常见的描述性指标
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
data.resample?

In [25]:
data.resample(rule='YE').mean()

                GS10
DATE
2019-12-31  1.834286
2020-12-31  0.894167
2021-12-31  1.442500
2022-12-31  2.951667
2023-12-31  3.957500
2024-12-31  4.255000

In [26]:
count = data.resample(rule='YE').count()
count

            GS10
DATE
2019-12-31     7
2020-12-31    12
2021-12-31    12
2022-12-31    12
2023-12-31    12
2024-12-31     4

In [27]:
sum1 = data.resample(rule='YE').sum()
sum1

             GS10
DATE
2019-12-31  12.84
2020-12-31  10.73
2021-12-31  17.31
2022-12-31  35.42
2023-12-31  47.49
2024-12-31  17.02

In [28]:
sum1 / count

                GS10
DATE
2019-12-31  1.834286
2020-12-31  0.894167
2021-12-31  1.442500
2022-12-31  2.951667
2023-12-31  3.957500
2024-12-31  4.255000

In [29]:
 data.resample(rule='YE').std() # 数据样本内部的差异性

                GS10
DATE
2019-12-31  0.174629
2020-12-31  0.362152
2021-12-31  0.178230
2022-12-31  0.734276
2023-12-31  0.425337
2024-12-31  0.202731

In [30]:
data.resample(rule='YE').std().max()

GS10    0.734276
dtype: float64

In [31]:
data.resample(rule='YE').prod()

                    GS10
DATE
2019-12-31  6.802393e+01
2020-12-31  1.298698e-01
2021-12-31  7.420379e+01
2022-12-31  3.006006e+05
2023-12-31  1.388089e+07
2024-12-31  3.266977e+02

In [32]:
# 加载新数据
data2 = pdr.get_data_fred('GS5')
data2

             GS5
DATE
2019-06-01  1.83
2019-07-01  1.83
2019-08-01  1.49
2019-09-01  1.57
2019-10-01  1.53
2019-11-01  1.64
2019-12-01  1.68
2020-01-01  1.56
2020-02-01  1.32
2020-03-01  0.59
2020-04-01  0.39
2020-05-01  0.34
2020-06-01  0.34
2020-07-01  0.28
2020-08-01  0.27
2020-09-01  0.27
2020-10-01  0.34
2020-11-01  0.39
2020-12-01  0.39
2021-01-01  0.45
2021-02-01  0.54
2021-03-01  0.82
2021-04-01  0.86
2021-05-01  0.82
2021-06-01  0.84
2021-07-01  0.76
2021-08-01  0.77
2021-09-01  0.86
2021-10-01  1.11
2021-11-01  1.20
2021-12-01  1.23
2022-01-01  1.54
2022-02-01  1.81
2022-03-01  2.11
2022-04-01  2.78
2022-05-01  2.87
2022-06-01  3.19
2022-07-01  2.96
2022-08-01  3.03
2022-09-01  3.70
2022-10-01  4.18
2022-11-01  4.06
2022-12-01  3.76
2023-01-01  3.64
2023-02-01  3.94
2023-03-01  3.82
2023-04-01  3.54
2023-05-01  3.59
2023-06-01  3.95
2023-07-01  4.14
2023-08-01  4.31
2023-09-01  4.49
2023-10-01  4.77
2023-11-01  4.49
2023-12-01  4.00
2024-01-01  3.98
2024-02-01  4.19
2024-03-01  4.20
2024-04-01  4.56

In [33]:
data['GS5'] = data2 # 值和index的精确匹配
data

            GS10   GS5
DATE
2019-06-01  2.07  1.83
2019-07-01  2.06  1.83
2019-08-01  1.63  1.49
2019-09-01  1.70  1.57
2019-10-01  1.71  1.53
2019-11-01  1.81  1.64
2019-12-01  1.86  1.68
2020-01-01  1.76  1.56
2020-02-01  1.50  1.32
2020-03-01  0.87  0.59
2020-04-01  0.66  0.39
2020-05-01  0.67  0.34
2020-06-01  0.73  0.34
2020-07-01  0.62  0.28
2020-08-01  0.65  0.27
2020-09-01  0.68  0.27
2020-10-01  0.79  0.34
2020-11-01  0.87  0.39
2020-12-01  0.93  0.39
2021-01-01  1.08  0.45
2021-02-01  1.26  0.54
2021-03-01  1.61  0.82
2021-04-01  1.64  0.86
2021-05-01  1.62  0.82
2021-06-01  1.52  0.84
2021-07-01  1.32  0.76
2021-08-01  1.28  0.77
2021-09-01  1.37  0.86
2021-10-01  1.58  1.11
2021-11-01  1.56  1.20
2021-12-01  1.47  1.23
2022-01-01  1.76  1.54
2022-02-01  1.93  1.81
2022-03-01  2.13  2.11
2022-04-01  2.75  2.78
2022-05-01  2.90  2.87
2022-06-01  3.14  3.19
2022-07-01  2.90  2.96
2022-08-01  2.90  3.03
2022-09-01  3.52  3.70
2022-10-01  3.98  4.18
2022-11-01  3.89  4.06
2022-12-01  3.62  3.76
2023-01-01  3.53  3.64
2023-02-01  3.75  3.94
2023-03-01  3.66  3.82
2023-04-01  3.46  3.54
2023-05-01  3.57  3.59
2023-06-01  3.75  3.95
2023-07-01  3.90  4.14
2023-08-01  4.17  4.31
2023-09-01  4.38  4.49
2023-10-01  4.80  4.77
2023-11-01  4.50  4.49
2023-12-01  4.02  4.00
2024-01-01  4.06  3.98
2024-02-01  4.21  4.19
2024-03-01  4.21  4.20
2024-04-01  4.54  4.56

In [34]:
data['mean'] = (data['GS10'] + data['GS5']) / 2

In [35]:
data

            GS10   GS5   mean
DATE
2019-06-01  2.07  1.83  1.950
2019-07-01  2.06  1.83  1.945
2019-08-01  1.63  1.49  1.560
2019-09-01  1.70  1.57  1.635
2019-10-01  1.71  1.53  1.620
2019-11-01  1.81  1.64  1.725
2019-12-01  1.86  1.68  1.770
2020-01-01  1.76  1.56  1.660
2020-02-01  1.50  1.32  1.410
2020-03-01  0.87  0.59  0.730
2020-04-01  0.66  0.39  0.525
2020-05-01  0.67  0.34  0.505
2020-06-01  0.73  0.34  0.535
2020-07-01  0.62  0.28  0.450
2020-08-01  0.65  0.27  0.460
2020-09-01  0.68  0.27  0.475
2020-10-01  0.79  0.34  0.565
2020-11-01  0.87  0.39  0.630
2020-12-01  0.93  0.39  0.660
2021-01-01  1.08  0.45  0.765
2021-02-01  1.26  0.54  0.900
2021-03-01  1.61  0.82  1.215
2021-04-01  1.64  0.86  1.250
2021-05-01  1.62  0.82  1.220
2021-06-01  1.52  0.84  1.180
2021-07-01  1.32  0.76  1.040
2021-08-01  1.28  0.77  1.025
2021-09-01  1.37  0.86  1.115
2021-10-01  1.58  1.11  1.345
2021-11-01  1.56  1.20  1.380
2021-12-01  1.47  1.23  1.350
2022-01-01  1.76  1.54  1.650
2022-02-01  1.93  1.81  1.870
2022-03-01  2.13  2.11  2.120
2022-04-01  2.75  2.78  2.765
2022-05-01  2.90  2.87  2.885
2022-06-01  3.14  3.19  3.165
2022-07-01  2.90  2.96  2.930
2022-08-01  2.90  3.03  2.965
2022-09-01  3.52  3.70  3.610
2022-10-01  3.98  4.18  4.080
2022-11-01  3.89  4.06  3.975
2022-12-01  3.62  3.76  3.690
2023-01-01  3.53  3.64  3.585
2023-02-01  3.75  3.94  3.845
2023-03-01  3.66  3.82  3.740
2023-04-01  3.46  3.54  3.500
2023-05-01  3.57  3.59  3.580
2023-06-01  3.75  3.95  3.850
2023-07-01  3.90  4.14  4.020
2023-08-01  4.17  4.31  4.240
2023-09-01  4.38  4.49  4.435
2023-10-01  4.80  4.77  4.785
2023-11-01  4.50  4.49  4.495
2023-12-01  4.02  4.00  4.010
2024-01-01  4.06  3.98  4.020
2024-02-01  4.21  4.19  4.200
2024-03-01  4.21  4.20  4.205
2024-04-01  4.54  4.56  4.550

In [36]:
# 周期转换
data.resample(rule='Y')

/var/folders/cv/vhc20_yj7l50kd0_m5tn9vmm0000gn/T/ipykernel_69833/2473733117.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  data.resample(rule='Y')

In [37]:
data.resample(rule='Y').last() # 查看每年最后1个月的数据

/var/folders/cv/vhc20_yj7l50kd0_m5tn9vmm0000gn/T/ipykernel_69833/1773705720.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  data.resample(rule='Y').last() # 查看每年最后1个月的数据

            GS10   GS5  mean
DATE
2019-12-31  1.86  1.68  1.77
2020-12-31  0.93  0.39  0.66
2021-12-31  1.47  1.23  1.35
2022-12-31  3.62  3.76  3.69
2023-12-31  4.02  4.00  4.01
2024-12-31  4.54  4.56  4.55