## 3.5.1 有哪些io方式

- 数据分析阶段的重点：分析、建模

## 3.5.2 读取和存储csv

- 存储、读取、索引设置
- 数据追加

## 3.5.3 读取和存储excel

- 存储、读取、工作表设置
- 数据追加

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.DataFrame(np.random.randn(1000,3),columns=['a','b','c'],
                   index=pd.date_range('20200101',periods=1000))

In [5]:
data

                   a         b         c
2020-01-01  0.538261 -0.389685 -0.952813
2020-01-02 -0.622439 -0.090098 -0.120977
2020-01-03 -2.380800  0.754226  0.494995
2020-01-04 -0.435145  1.709480 -1.018768
2020-01-05  0.625383  1.024123  1.755665
...              ...       ...       ...
2022-09-22 -0.465101  1.651035 -0.180905
2022-09-23  0.041655 -0.170946 -0.881767
2022-09-24  0.401195  1.003582  0.367173
2022-09-25  0.758136  1.825101 -0.410025
2022-09-26  0.010112 -0.410298 -0.141626

[1000 rows x 3 columns]

In [7]:
# 数据存储
data.to_csv('txt.csv') # route/file.csv

In [8]:
filename = 'txt.csv'
pd.read_csv(filename)

     Unnamed: 0         a         b         c
0    2020-01-01  0.538261 -0.389685 -0.952813
1    2020-01-02 -0.622439 -0.090098 -0.120977
2    2020-01-03 -2.380800  0.754226  0.494995
3    2020-01-04 -0.435145  1.709480 -1.018768
4    2020-01-05  0.625383  1.024123  1.755665
..          ...       ...       ...       ...
995  2022-09-22 -0.465101  1.651035 -0.180905
996  2022-09-23  0.041655 -0.170946 -0.881767
997  2022-09-24  0.401195  1.003582  0.367173
998  2022-09-25  0.758136  1.825101 -0.410025
999  2022-09-26  0.010112 -0.410298 -0.141626

[1000 rows x 4 columns]

In [9]:
pd.read_csv(filename,index_col=['Unnamed: 0'])

                   a         b         c
2020-01-01  0.538261 -0.389685 -0.952813
2020-01-02 -0.622439 -0.090098 -0.120977
2020-01-03 -2.380800  0.754226  0.494995
2020-01-04 -0.435145  1.709480 -1.018768
2020-01-05  0.625383  1.024123  1.755665
...              ...       ...       ...
2022-09-22 -0.465101  1.651035 -0.180905
2022-09-23  0.041655 -0.170946 -0.881767
2022-09-24  0.401195  1.003582  0.367173
2022-09-25  0.758136  1.825101 -0.410025
2022-09-26  0.010112 -0.410298 -0.141626

[1000 rows x 3 columns]

In [10]:
# 存储前对数据索引进行命名：date
data.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [11]:
data.index.names

FrozenList([None])

In [12]:
data.index.names = ['date']

In [13]:
data

                   a         b         c
date
2020-01-01  0.538261 -0.389685 -0.952813
2020-01-02 -0.622439 -0.090098 -0.120977
2020-01-03 -2.380800  0.754226  0.494995
2020-01-04 -0.435145  1.709480 -1.018768
2020-01-05  0.625383  1.024123  1.755665
...              ...       ...       ...
2022-09-22 -0.465101  1.651035 -0.180905
2022-09-23  0.041655 -0.170946 -0.881767
2022-09-24  0.401195  1.003582  0.367173
2022-09-25  0.758136  1.825101 -0.410025
2022-09-26  0.010112 -0.410298 -0.141626

[1000 rows x 3 columns]

In [14]:
data.to_csv(filename) # 完全覆盖/替换

In [15]:
# 对已有文件进行数据追加
data2 = data.tail()

In [16]:
data2

                   a         b         c
date
2022-09-22 -0.465101  1.651035 -0.180905
2022-09-23  0.041655 -0.170946 -0.881767
2022-09-24  0.401195  1.003582  0.367173
2022-09-25  0.758136  1.825101 -0.410025
2022-09-26  0.010112 -0.410298 -0.141626

In [19]:
# 首先判断是否有数据，有的情况下可以这么操作：
data2.to_csv(filename,mode='a',header=False) # append - 追加操作

In [22]:
# excel
excelname = 'excel.xlsx'

In [23]:
data.to_excel(excelname,sheet_name='a')

In [24]:
pd.read_excel(excelname)

          date         a         b         c
0   2020-01-01  0.538261 -0.389685 -0.952813
1   2020-01-02 -0.622439 -0.090098 -0.120977
2   2020-01-03 -2.380800  0.754226  0.494995
3   2020-01-04 -0.435145  1.709480 -1.018768
4   2020-01-05  0.625383  1.024123  1.755665
..         ...       ...       ...       ...
995 2022-09-22 -0.465101  1.651035 -0.180905
996 2022-09-23  0.041655 -0.170946 -0.881767
997 2022-09-24  0.401195  1.003582  0.367173
998 2022-09-25  0.758136  1.825101 -0.410025
999 2022-09-26  0.010112 -0.410298 -0.141626

[1000 rows x 4 columns]

In [26]:
data.to_excel(excelname,sheet_name='b') # 没有mode参数

In [27]:
data.to_excel?

In [41]:
# 一次写入多个sheet
with pd.ExcelWriter('writer.xlsx') as writer:
    data.to_excel(writer,sheet_name='a')
    data.to_excel(writer,sheet_name='b')
    data.to_excel(writer,sheet_name='c')

In [42]:
# 追加新sheet
with pd.ExcelWriter('writer.xlsx',mode='a',engine='openpyxl') as writer:
    data2.to_excel(writer,sheet_name='d')

In [43]:
# 测试excel追加数据至sheet
with pd.ExcelWriter('writer.xlsx',mode='a',engine='openpyxl') as writer:
    data.to_excel(writer,sheet_name='d')

In [ ]:
# openpyxl库：读取 -> 追加新数据 -> 存入表格中